<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>511女王衣柜节-名家居世博园</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="keywords" content="名家居世博园年货节,家具展,家居年货,广东家具展,东莞家具展,东莞厚街家具展">
	<meta name="description" content="广东名家居世博园是广东现代国际展览中心倾力打造的集展览展示、采购直销、信息交流和家居物流于一体，世界级家居行业展示中心，是中国家具走向世界的平台、世界著名家居品牌进入中国的窗口。">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.2.1.4.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/template.js"></script>
	<script src="js/swiper.min.js"></script>
	
	
	

	<script>
	/*if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="m/index.html";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}*/
	</script>
<style>
	
	.index3a{
		background: transparent url(images/t3a.jpg) 50% 0 no-repeat;
		height: 466px;
	}
	.index4a{
		background: transparent url(images/t4.jpg) 50% 0 no-repeat;
		height: 187px;
	}
	.index6{
		background: transparent url(images/t6.jpg) 50% 0 no-repeat;
		height: 259px;
	}
	
</style>
</head>
<body>
<div class="wrap">
	<div class="index1">
		<div class="main c">
			<a href="http://ffepcn.com/m/ffep511/bm.html" target="_blank">查看更多详情</a>
		</div>
	</div>
	<div class="index2 main c">
		<div class="f-title">
			<h2>贵宾尊享</h2>
			<h4 class="text-uppercase">| vip privileges |</h4>
		</div>
		<div class="f-content">
			<ul class="ul-1">
				<li>
					<div class="ico"></div>
					<p>一对一免费设计到家</p>
					<p>188元到店礼等着您</p>
					<a target="_blank" href="http://ffepcn.com/m/ffep511/bm.html">【预约送】</a>
				</li>
				<li>
					<div class="ico"></div>
					<p>女王驾到好礼相送</p>
					<p>0元五星温泉/海滨游</p>
					<a target="_blank" href="http://ffepcn.com/m/ffep511/bm.html">【专属享】</a>
				</li>
				<li>
					<div class="ico"></div>
					<p>10000份智能家居家电</p>
					<p>10000份软装饰品灯饰</p>
					<a target="_blank" href="http://ffepcn.com/m/ffep511/bm.html">【满额抽】</a>
				</li>
			</ul>

			<ul class="ul-2">
				<li>
					<h3>01</h3>
					<div class="en">time saved</div>
					<h4>省时</h4>
					<p>虎门高铁、转乘东莞地铁(展览中心站)，双轨直达。</p>
					<div class="bg"></div>
				</li>
				<li>
					<div class="bg"></div>
					<h3>02</h3>
					<div class="en">save worry</div>
					<h4>省心</h4>
					<p>500+品牌工厂店，家具、软装、家饰、家电一站搞定。</p>
				</li>
				<li>
					<div class="bg"></div>
					<h3>03</h3>
					<div class="en">Provincial affairs</div>
					<h4>省事</h4>
					<p>全屋定制量身设计，买正品家具享更好服务</p>
				</li>
				<li>
					<div class="bg"></div>
					<h3>04</h3>
					<div class="en">save money</div>
					<h4>省钱</h4>
					<p>全品类、多风格，一样的预算，多样的选择。</p>
				</li>
			</ul>
		</div>

	</div>

	<div class="index3 main c">
		<div class="f-title">
			<h2>专业设计师一对一服务</h2>
			<h4 class="text-uppercase">one to one service for professional designers</h4>
		</div>
		<div class="f-title2">
			<h2>500多名设计师随叫随到</h2>
			<p>500品牌家居顾问一对一免费为您服务</p>
			<p>空间不足？户型不合理？这些都不是问题。只要您有想法，我们都能为您实现。</p>
		</div>
		<div class="f-content-3">
			<a href="http://ffepcn.com/m/ffep511/bm.html" target="_blank"><img class="img-fluid" src="images/pic1.jpg"></a>
		</div>
	</div>

	<div class="index4">
		<div class="f-title">
			<h2>镇店爆款</h2>
			<h4 class="text-uppercase">| hot sale proouct |</h4>
		</div>
		
		
		<div class="f-content-4">
			<div class="main c">
					<div class="swiper-container swiper-container-hotsale"></div>
					<script id="tpl_b" type="text/html">
						<div class="swiper-wrapper">
						<%for(var i=0;i<recommends.length;i++) { %> 
							
							<div class="swiper-slide">
								<div class="img">
								<a target="_blank" href="<%=url%>"><img class="img-fluid" src="images/<%=recommends[i].img%>"></a>
								</div>
								<div class="txt">
									<h3><%=recommends[i].title%></h3>
									<p>风格：<%=recommends[i].fg%></p>
									<p>名称：<%=recommends[i].title2%></p>
									<p>材质：<%=recommends[i].material%></p>
									<p>限量：<%=recommends[i].num%>张</p>
									<div class="price"><%=recommends[i].price%></div>
									<a target="_blank" href="<%=url%>" class="btn2"><%=btn%></a>
								</div>
								
							</div>
						<% } %>
						</div>
					</script>
					<script>
						var tpl2 = $("#tpl_b").html();
						var html2 = template(tpl2,data);
						$(".swiper-container-hotsale").html(html2);
					</script>
					<div class="preview">
						<a class="arrow-left" href="#"></a>
						<a class="arrow-right" href="#"></a>
						<script id="tpl_c" type="text/html">
							<div class="swiper-wrapper">
							<%for(var i=0;i<recommends.length;i++) { %> 
								
								<div class="swiper-slide active-nav">
									<a href="###">
										<img width="253" src="images/<%=recommends[i].img%>" alt="<%=recommends[i].title%>">
										<div class="txt">
											<p><%=recommends[i].title%></p>
											<p><%=recommends[i].fg%></p>
										</div>
									</a>
								</div>
									
							<% } %>
							</div>
						</script>
						
						<div class="swiper-container"></div>
						<script>
						var tpl3 = $("#tpl_c").html();
						var html3 = template(tpl3,data);
						$(".preview .swiper-container").html(html3);
						</script>
					</div>
				</div>
			</div>
		</div>
		
	
	<div class="index5 main c">
		<div class="f-title">
			<h2>{{ topTitle }}</h2>
			<h4 class="text-uppercase">hot sale proouct</h4>
		</div>
		<div class="f-content-5 goodlist">
			<div class="good-item" v-for="v in todos">
				<div class="good-img">
				<a :href="url" target="_blank">
				<img :src="'images/pp/'+v.img" :alt=" v.title ">
				<p>{{ v.title }}</p>
				</a>
				</div>
				<div class="txt">
					<div class="txt-1">
						<h4>{{ v.pp }}</h4>
						<span class="rmb">{{ v.price }}</span>
					</div>
					<div class="txt-2">
						<a :href="url" target="_blank">{{ btn }}</a>
					</div>

				</div>
			</div>
		</div>
				
	</div>

	<div class="footer mt-5 animated">
	  <div class="container foot-container">
	    <div class="row">
	      <div class="col-lg-6"><a href="http://ffepcn.com" target="_blank"><img src="images/foot-img1.jpg" class="img-fluid"></a></div>
	      <div class="col-lg-6">
	        <div class="foot-contact">
	          <div class="f-c-txt">
	            <p class="title">广东省东莞市厚街广东现代国际展览中心</p>
	            <p>电话：86-769-82681888</p>
	            <p>传真：86-769-82681999</p>
	            <p>邮编：523949</p>
	            <p>网址：www.ffepcn.com</p>
	            <p>国内免费咨询热线：400-833-2133</p>
	          </div>
	          <div class="ewm"><img src="images/ewma.jpg" alt="扫一扫关注名家居世博园"><p>扫描二维码<br>关注官方微信</p></div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>


<script>
	var hotSwiper = new Swiper('.swiper-container-hotsale',{
		autoplay: 2000,
		paginationClickable: true,
		autoplayDisableOnInteraction : false,
		onSlideChangeStart: function() {
		    updateNavPosition();
		}
	});

	$('.preview .arrow-left').on('click', function(e) {
		e.preventDefault()
		if (hotSwiper.activeIndex == 0) {
			hotSwiper.slideTo(hotSwiper.slides.length - 1, 1000);
			return
		}
		hotSwiper.slidePrev()
	})
	$('.preview .arrow-right').on('click', function(e) {
		e.preventDefault()
		if (hotSwiper.activeIndex == hotSwiper.slides.length - 1) {
			hotSwiper.slideTo(0, 1000);
			return
		}
		hotSwiper.slideNext()
	})

	var previewSwiper = new Swiper('.preview .swiper-container', {
		//visibilityFullFit: true,
		slidesPerView: 'auto',
		allowTouchMove: false,
		// spaceBetween: 5,
		onTap: function() {
			    hotSwiper.slideTo(previewSwiper.clickedIndex)
		}
	})

	function updateNavPosition() {
			$('.preview .active-nav').removeClass('active-nav')
			var activeNav = $('.preview .swiper-slide').eq(hotSwiper.activeIndex).addClass('active-nav')
			if (!activeNav.hasClass('swiper-slide-visible')) {
				if (activeNav.index() > previewSwiper.activeIndex) {
					var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
					previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
				} else {
					previewSwiper.slideTo(activeNav.index())
				}
			}
		}

$(function () {
    action();
});
function action() {
    $(document.body).append("<div id=\"roll\" style=\"display:none;\"><div title=\"回到顶部\" id=\"roll_top\"></div></div>");
    $('#roll_top').click(function () {
        $('html,body').animate({ scrollTop: '0px' }, 600)
    });
    $(window).scroll(function (event) {
        // if ($.browser.ie6) {
        //     $('#roll').css('top', $(this).scrollTop() + $(this).height() - 170)
        // }
        if ($(this).scrollTop() > 260) {
            $('#roll').fadeIn()
        } else {
            $('#roll').fadeOut()
        }
    })
}
</script>
<script src="js/vue.min.js"></script>
<script src="js/data2.js"></script>
</body>
</html>